.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #09d3ac;
}

.layout {
	height: 100vh;
	padding: 3rem;
}

.ant-layout-header {
	background: #6b8eba;
	background: linear-gradient(
		45deg,
		rgb(19, 73, 95),
		#366092,
		#8da8c9,
		rgb(245, 211, 130),
		#8da8c9,
		#366092,
		rgb(19, 73, 95)
	);
	box-shadow: 0 0 0.4rem 0 black;
}

.ant-menu {
	background: transparent;
}

.ant-layout-header:hover .ant-menu-item {
	visibility: visible;
}

.ant-menu-item {
	float: right;
	visibility: hidden;
}

.ant-menu a.active {
	color: rgb(19, 73, 95);
}

.ant-menu a.active:hover {
	color: rgb(26, 26, 26);
}

.ant-menu.ant-menu-dark .ant-menu-item-selected {
	background: rgb(245, 211, 130);
	box-shadow: 0 0 0.5rem 0 black;
	border-radius: 0 0 1rem 1rem;
	margin: 0 1rem 0 1rem;
	float: left;
	visibility: visible;
}

.ant-layout-content {
	background: transparent;
	box-shadow: 0 0 0.2rem 0 black;
}

.ant-layout {
	background: #6b8eba;
	background: linear-gradient(0deg, rgb(19, 73, 95), #366092, #8da8c9, rgb(245, 211, 130));
	padding: 1rem;
	min-height: 70vh;
}

.ant-layout-footer {
	background: linear-gradient(
		45deg,
		rgb(19, 73, 95),
		#366092,
		#8da8c9,
		rgb(245, 211, 130),
		#8da8c9,
		#366092,
		rgb(19, 73, 95)
	);
	box-shadow: 0 0 0.2rem 0 black;
}

#components-layout-demo-responsive .logo {
	width: 120px;
	height: 31px;
	background: rgba(255, 255, 255, 0.2);
	margin: 16px 24px 16px 0;
	float: left;
}

.none {
	display: none;
}
